<!DOCTYPE html>
{% load static %}

<html lang="fr">
<link rel="stylesheet" href="{% static 'pulse/style/calendar.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Radio Pulse - diffusion</title>
</head>
<body>
    <h1>Emploi de diffusion</h1>
    <table border="5" cellspacing="0" align="center">
        <tr>
            <td align="center" height="50"
                width="100">
                <b>Jour/Horaire</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>00:00 01:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>01:00 02:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>02:00 03:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>03:00 04:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>04:00 05:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>05:00 06:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>06:00 07:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>07:00 08:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>08:00 09:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>09:00 10:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>10:00 11:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>11:00 12:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>12:00 13:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>13:00 14:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>14:00 15:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>15:00 16:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>16:00 17:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>17:00 18:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>18:00 19:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>19:00 20:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>20:00 21:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>21:00 22:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>22:00 23:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>23:00 00:00</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Lundi</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Mardi</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Mercredi</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Jeudi</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Vendredi</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Samedi</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Dimanche</b>
            </td>
        </tr>
    </table>
</body>
</html>