<!DOCTYPE html>
{% load static %}

<html lang="fr">
<link rel="stylesheet" href="{% static 'pulse/style/style.css' %}">
<head>
	<meta charset="UTF-8">
	<title>Radio Pulse</title>
</head>
<body>
	<br>
	<h1 class="image-centered">
		<img src="{% static 'pulse/logo.png'%}" width="800" height="400" align="center">
	</h1>
	<h1 class="big-text">
		La radio officielle de l'ENSEA
	</h1>
	<div class="vspace"></div>
	<div class="vspace">
		<a href="diffusion" class="button">Calendrier de diffusion</a>
	</div>
	<div class="vspace">
		<a href="direct" class="button">Le direct</a>
	</div>
	<div class="vspace"></div>
	<hr>
	<div>Nous contacter</div>
	<br>
	<br>
	<div class="flush-left">
		- Email: pulse@asso-ensea.fr
		<br>
		- Insta: pulse
		<br>
		- X/Twitter: @pulse
		<br>
		- Adresse: 6 av. du Ponceau - CERGY (95)
	</div>
	<br>
</body>
</html>
